.jumbotron {
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 430px
}

.title-text h1 {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
}
.title-text h2 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.7em;
  margin-top: 1%;
}

.social-links, .social-links ul {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  text-align: left;
  padding-top: 7.5em;
}

.social-links li {
  display: inline !important;
}

.social-links img {
  display: inline;
}

.container-padded {
  padding-top: 2%;
  padding-bottom: 2%;
}

.section-title h2 {
  margin-top: 0px;
}

.img-map {
  float: right;
  margin: 10px;
}

.ct-chart {
  min-height: 400px;
  max-height: 550px;
}
.skills-chart {
  min-height: 400px;
  max-height: 550px;
}

.ct-chart .ct-label {
  font-size: 14px;
}
/*
.skills-chart {
  min-height: 700px;
}

#skillsChart {
  min-height: 600px;
  max-width: 75%;
}*/

@media screen and (max-width: 1999px) {
  .jumbotron {
    background-position: 25% top;
  }
}